* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

body {
    padding: 0;
    margin: 0;
    background-color: peachpuff;
}

.container {
    max-width: 720px;
    max-height: 720px;
    margin: 0 auto;
    background-color: white;
    border: 3px solid rgb(253, 153, 66);
}

.row {
    display: flex;
}

.row:last-child .col {
    border-bottom: none;
}

.col {
    flex: 1;
    aspect-ratio: 1/1;
    border-right: 1px solid rgb(255, 194, 142);
    border-bottom: 1px solid rgb(255, 194, 142);
}

.col:last-child {
    border-right: none;
}

.buttons {
    display: flex;
    max-width: 720px;
    padding: 50px;
    padding-bottom: 25px;
    margin: 0 auto;
}

button {
    flex: 1;
    padding: 25px;
    background-color: peachpuff;
    border: 1px solid rgb(253, 153, 66);
    cursor: pointer;
}

button + button {
    border-left: none;
}

#grid {
    margin-left: 0px;
}

.lbl {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}


